
<div class="col-12">

		<img class="center" src="{{ 'About_Cleo1.jpg' | asset_url }}" />

  		<div class="spacer60px col-12">&nbsp;</div>

  
		<div class="col-9">
			Olivia was born a wanderer. Her roots were once planted deep in Melbourne’s fertile soil, where as a child she was surrounded by trinkets, loved by loyal pets and mesmerized by the family veggie patch. Crystals were a fascination from an early age; her treasure chest enough to make the most established of collectors envious. But Olivia’s overwhelming sense of adventure – that something else was always waiting to be discovered – drove her to exploration. Olivia’s family fed this sense of adventure, whisking her away to unforgettable summers spent surrounded by Australian bush, white-sanded coastlines and pristine national parks. She knew she would always call Australia home, but something ached deep inside her. Then, after a year in Berlin when she was sweet sixteen, Olivia became enchanted by a spell of travel, culture, and people with a story to tell. She returned to Melbourne to finish school, but her roots had loosened.
		</div>
</div>

<div class="spacer60px col-12">&nbsp;</div>


<div class="col-12">
		<div class="col-3">
			&nbsp;
		</div>
		<div class="col-9 rightAligned">
			She became enchanted with languages while studying at Melbourne University, but none more than French. She fell in love (as girls often do) with her French tutor, and after many trips back and forth across the Indian Ocean, Olivia finally moved to Paris. Her days were filled with cupcakes and cheese, her vacations with adventures around Europe, India and Turkey. It was in Istanbul that her inner child surfaced. While exploring the markets with their colorful spice displays and dried fruit stalls, Olivia began collecting crystals again. This time she wanted to share not only her stones, but also her adoration of the ethereal. Cleopatra’s Bling was born that day: a fusion of eastern allure and western style. Olivia managed it from her second home in Paris, visiting Turkey regularly to sip thick, black coffee with her jeweler and embrace all things bohemian. Despite her life resembling a fairytale, after three years in France, Olivia decided her Parisian Prince Charming wasn’t meant to be. But everything happens for a reason – she embraced her independence, driven by the desire to introduce Cleopatra’s Bling to the world, and moved to Turkey. Today you’ll find Olivia in Istanbul with a scarf in her hair, a ring on every finger and a heart full of daydreams just waiting to be turned into reality.
	</div>
	<div class="spacer60px col-12">&nbsp;</div>

	<img class="center" src="{{ 'About_Cleo2.jpg' | asset_url }}"/>

</div>

<div class="spacer60px col-12">&nbsp;</div>


<div class="col-12">

		<div class="col-9">
			Cleopatra’s Bling embraces an eclectic existence, where wanderlust and jet setting rule our daydreams and there’s no beauty more enchanting than Mother Nature. We’re a jewellery bazaar that praises the ‘imperfect perfect’ through our one-off rings, necklaces, bracelets and earrings. The world is our market, souk and treasure chest. We hunt down stones and crystals, silver and gold, leather and feathers, to create jewellery that carries stories from distant and exotic places to wherever it is you call home. Every day holds the promise of adventure. Our pieces are hand-made for the quiet dreamers, the loud explorers, the closet gypsies, the free-spirited vagabonds, the wannabe nomads and the bravest globetrotters. Cleopatra’s Bling is jewellery made by wanderers for real women who appreciate sophistication as much as they do our natural world.
		</div>
  
		<div class="spacer60px col-12">&nbsp;</div>
  
  
  		<img class="center" src="{{ 'About_Cleo3.jpg' | asset_url }}" alt="" />
  
</div>

<div class="spacer60px col-12">&nbsp;</div>


<div class="col-12 centerAligned">
	<em>
		Cleopatra's Bling épouse une style de vie éclectique, où envie de voyager et luxe gouvernent nos fantasmes et où n'existe de beauté plus enchanteresse que Dame Nature. Nous sommes un comptoir de bijoux qui loue le "parfait imparfait" dans sa conception de bagues, colliers, bracelets et boucles d'oreille exceptionnels. Le monde constitue notre marché, notre souk et boite a trésor. Nous traquons pierres et cristaux, argent et or, cuirs et plumes, afin de créer des bijoux porteurs d'histoires en provenance de lieux exotiques et lointains jusque dans vos foyers. Chaque jour offre la promesse d'aventures. Nos objets sont fabriqués à la main et destinés aux doux rêveurs, explorateurs intrépides, bohémiens cachés, vagabonds libres, prétendus nomades et globetrotteurs les plus téméraires. Fabriqués par des flâneurs, Cleopatra's Bling conçoit des bijoux pour des femmes authentiques alliant goût de la sophistication et du naturel.
	</em>
</div>
