
<div class="col-12">

<h4 class="col-12 clearfix">You can find Cleopatra designs at the following boutiques:</h4>

	<div class="col-4 mob-col-12">
		<h2 class="titles">
		London
		</h2>

		<h2><strong><a href="http://www.brixi.co.uk/" target="blank">BRIXI</a></strong></h2>
		
		<h4>Unit 7 Brixton Village <br>
		Coldharbour Lane<br>
		London<br>
		SW9 8PR<br>
		t: 07919162428<br>
		w: <a href="http://www.brixi.co.uk/" target="blank">brixi.co.uk</a><br>
		i: <a href="https://www.instagram.com/brixi7/" target="blank">brixi7</a>
		</h4>
	</div>
</div>

 <div class="spacer20px col-12">&nbsp;</div>


<div class="col-12 paddedTop colorBg Grey">

<iframe class="col-6 centered mob-col-12" src="http://glamour.com.tr/embed/143" width="560" height="315"></iframe>

</div>